@model FirstWeb.Models.Student

@{
    ViewData["Title"] = "Thêm Mới Sinh Viên";
}

<h1>Thêm Mới Sinh Viên</h1>

<h4>Student</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="maSV" class="control-label"></label>
                <input asp-for="maSV" class="form-control" />
                <span asp-validation-for="maSV" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="hoTen" class="control-label"></label>
                <input asp-for="hoTen" class="form-control" />
                <span asp-validation-for="hoTen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="gioiTinh" class="control-label"></label>
                <select asp-for="gioiTinh" class="form-control">
                    <option>Male</option>
                    <option>Female</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="ngaySinh" class="control-label"></label>
                <input asp-for="ngaySinh" class="form-control" />
                <span asp-validation-for="ngaySinh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="soDiemCong" class="control-label"></label>
                <input asp-for="soDiemCong" class="form-control" />
                <span asp-validation-for="soDiemCong" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="maNganh" class="control-label"></label>
                <select asp-for="maNganh" class="form-control">
                    @foreach (var item in ViewBag.Majors)
                    {
                        <option>@item.maNganh</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Home" asp-action="Index">Back to List</a>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
