@model FirstWeb.Models.Student

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Student</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="maSV" class="control-label"></label>
                <input asp-for="maSV" class="form-control" />
                <span asp-validation-for="maSV" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="hoTen" class="control-label"></label>
                <input asp-for="hoTen" class="form-control" />
                <span asp-validation-for="hoTen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="gioiTinh" class="control-label"></label>
                <input asp-for="gioiTinh" class="form-control" />
                <span asp-validation-for="gioiTinh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ngaySinh" class="control-label"></label>
                <input asp-for="ngaySinh" class="form-control" />
                <span asp-validation-for="ngaySinh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="soDiemCong" class="control-label"></label>
                <input asp-for="soDiemCong" class="form-control" />
                <span asp-validation-for="soDiemCong" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="maNganh" class="control-label"></label>
                <input asp-for="maNganh" class="form-control" />
                <span asp-validation-for="maNganh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller ="Home" asp-action="Index">Back to List</a>
</div>

